<div class="content">
<h2 class="post">Criar publicação</h2>

<form  method="post" action="?pagina=admin&metodo=insert">
  <div class="form-group">
    <label>Título</label>
    <input class="form-control" type="text" name="titulo" placeholder="Digite um título para a postagem">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Conteudo</label>
    <textarea class="form-control" name="conteudo" placeholder="Digite o conteúdo da postagem"></textarea>
  </div>
  <input type="submit" class="btn btn-primary" value="Cadastrar">
</form>
</div>